<nav>
  <ul>
    <li><%= active_link_to "Strona glowna", "/welcome/index" %></li>
    <li><%= link_to "Lista ksiazek", "/books"%></li>
    <li><%= link_to "Czlonkowie", members_path%></li>
    <li><%= link_to "Wypozyczenia", "/borrows/index"%></li>
  </ul>
</nav>
<main><h2>Strona główna</h2>
  <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan ultrices quam. Nulla neque sapien, lacinia non nulla in, iaculis laoreet nulla. Vestibulum sit amet sagittis tortor, nec suscipit ligula. Nam eu convallis sapien. Cras nunc mauris, placerat in egestas sit amet, elementum sit amet magna. Nunc arcu massa, laoreet vel risus ac, iaculis dapibus enim. Vestibulum pharetra ac nunc sed aliquet. Fusce et erat sed eros elementum consequat. Nullam nulla neque, iaculis at arcu eu, elementum luctus lacus. Donec nunc libero, porttitor non sodales non, laoreet sed enim. Aliquam varius dui tempor felis scelerisque tincidunt.

    Phasellus ac dignissim dolor, sed blandit ipsum. Nullam efficitur turpis quis sapien sodales mattis. Phasellus convallis nulla id sodales finibus. Vivamus bibendum, arcu non congue aliquet, tellus nulla rutrum velit, efficitur dignissim odio sem id ante. Nulla consequat purus ac bibendum condimentum. Aenean placerat sollicitudin nibh a dictum. Etiam sodales ultricies leo, a ullamcorper ante laoreet ullamcorper. Proin auctor congue facilisis. Morbi nisi mi, fermentum id purus feugiat, pharetra auctor nisi. Donec ac pretium neque. Vestibulum cursus mi ac lorem bibendum, eu pharetra felis viverra.

    Morbi mollis cursus nunc, convallis congue ligula ornare quis. In dictum diam eu ante tempor, eget varius felis blandit. Fusce ullamcorper, ligula eu imperdiet rutrum, eros neque rhoncus lorem, et tristique nunc diam eget diam. Etiam mattis leo non ornare convallis. Quisque ultricies euismod viverra. Nullam hendrerit lacus lectus, vel congue dui varius commodo. Proin interdum, ligula in malesuada ornare, mi risus dictum est, non malesuada mauris sem nec elit. Sed malesuada, purus quis ultrices gravida, magna mauris ultricies leo, in laoreet odio ex at risus. Mauris vulputate urna lacus. Morbi suscipit odio eget sem bibendum interdum.

    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam non porttitor mauris. Curabitur non tempor purus. Suspendisse potenti. Vestibulum congue pulvinar tortor, vitae condimentum arcu laoreet nec. Praesent at dui vel est semper fermentum. Suspendisse potenti. Suspendisse eget tempor lorem. Quisque at tempus lectus, sed laoreet nisl. Proin auctor dapibus facilisis. Praesent condimentum, nisi vitae eleifend maximus, lacus nunc varius lectus, vitae congue arcu ipsum sed est. Fusce in nibh sit amet diam aliquet auctor id nec urna. Nulla nec porttitor nisi, vitae sollicitudin nisl. Integer sollicitudin id elit id hendrerit.

    Mauris et tortor interdum, hendrerit ligula id, maximus urna. Suspendisse varius luctus enim et tincidunt. Fusce ut mattis purus. Curabitur eleifend arcu at tincidunt aliquam. Morbi ultrices, sem eget consequat condimentum, augue urna mollis ipsum, at egestas elit sapien quis felis. Sed metus metus, imperdiet ac libero non, hendrerit faucibus libero. Praesent eleifend ligula at commodo dapibus. Sed ut dolor condimentum, mollis ipsum eget, gravida elit. </p>
</main>
